{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-lg-12'>
        <div class="card card-primary card-outline">
            {% if page_title %}
            <div class="card-header">
                <h3 class="card-title">{{ page_title }}</h3>
            </div>
            {% endif %}
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover datatables-no-export">
                            <thead>
                                <tr>
                                    <th>Command</th>
                                    <th>Source</th>
                                    <th>User</th>
                                    <th>Created</th>
                                    <th>Completed</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in job_list %}
                                <tr>
                                    <td>{{ job.command.name }}</td>
                                    <td>{{ job.get_exec_source_display }}</td>
                                    <td>{{ job.user_source_name|default_if_none:"—" }}</td>
                                    <td>{{ job.created }}</td>
                                    <td>
                                        {% if job.completed %}
                                        <i class="far fa-check-circle text-success" title="{{ job.completed }}"></i>
                                        {% else %}
                                        <i class="far fa-clock text-warning"></i>
                                        {% endif %}
                                    </td>
                                    <td class="min-width">
                                        <a href="/fleet_commander/job/details/?uuid={{ job.uuid }}">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <a href="/fleet_commander/" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}