{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-lg-6'>
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Run Command</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Selected Routers:</h4>
                            <ul>
                                {% for router in routers %}
                                <li>{{ router.name }}</li>
                                <input type="hidden" name="router_uuids" value="{{ router.uuid }}">
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="command">Select Command:</label>
                                <select class="form-control" id="command" name="command" required>
                                    <option value="">-- Select Command --</option>
                                    {% for command in commands %}
                                    <option value="{{ command.uuid }}">{{ command.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">Execute Command</button>
                            <a href="/router/list/" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}