{% extends 'base.html' %}


{% block content %}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="card card-primary card-outline">
                {% if page_title %}
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>
                {% endif %}
                <div class="card-body">
                    {% include 'router_manager/router_nav_tabs.html' %}
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Backup</th>
                                    <th>Groups</th>
                                    <th>Auth</th>
                                    <th></th>
                                </tr>
                                
                                </thead>
                                <tbody>
                                {% for router in router_list %}
                                    <tr {% if not router.enabled %}style="text-decoration: line-through;"{% endif %}>
                                        <td>
                                            <a href="/router/details/?uuid={{ router.uuid }}">{{ router.name }}</a>
                                        </td>
                                        <td>{{ router.get_router_type_display }}</td>
                                        <td>{{ router.address }}</td>

                                        <td>
                                            {% if router.monitoring %}
                                                {% if router.routerstatus.status_online %}
                                                    <i class="far fa-check-circle text-success" title="Host is Online"></i>
                                                {% else %}
                                                    <i class="far fa-times-circle text-danger" title="Host is unavailable"></i>
                                                {% endif %}
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if router.backup_profile %}
                                                {{ router.backup_profile }} {% if router.routerstatus.last_backup_failed %}<i class="fas fa-exclamation-triangle text-danger" title="Last backup failed to complete"></i>{% endif %}
                                            {% else %}
                                                <i class="fas fa-exclamation-triangle text-warning" title="No backup profile selected"></i>
                                            {% endif %}
                                        </td>
                                    
                                        <td>
                                            {{ router.routergroup_set.count }}
                                        </td>
                                        <td class="min-width">
                                            {% if router.ssh_key %}
                                                <i class="fas fa-key" title="SSH Key: {{ router.ssh_key }}"></i>
                                            {% elif router.password %}
                                                <i class="fas fa-keyboard" title="Password Authentication"></i>
                                            {% else %}
                                                <i class="fas fa-exclamation-triangle text-warning" title="Missing authentication"></i>
                                            {% endif %}
                                        </td>
                                        <td class="min-width">
                                            <a href="/router/manage/?uuid={{ router.uuid }}"><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="/router/manage/" class="btn btn-primary">Add Router</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}