{% extends 'base.html' %}

{%  block content %}
    <div class='row'>
        <div class='col-lg-6'>
            <div class="card card-primary card-outline">

                <div class="card-header">
                    <h3 class="card-title">Welcome to RouterFleet!</h3>
                </div>

                <div class="card-body row">
                    <div class="col-lg-12">
                        <p>Greetings! I'm thrilled to introduce you to RouterFleet, a newly launched open source project aimed at revolutionizing the way we manage backups for routers and network equipment. I've dedicated countless hours to developing a system that simplifies and secures network management tasks, specifically tailored for those who manage a fleet of devices.</p>

                        <p>At this initial stage, RouterFleet's compatibility is focused on <strong>Mikrotik devices</strong>. My commitment to you is to not only enhance the system for these devices but also to expand our compatibility list based on the community's needs. Your feedback and requests are crucial for guiding the future development of RouterFleet.</p>

                        <p>Being at the forefront of RouterFleet, I am on a continuous journey to improve and evolve the platform. You can expect <strong>regular updates featuring new functionalities, performance enhancements, and bug fixes</strong>. To make the most out of RouterFleet, I recommend keeping your system up to date with the latest releases.</p>

                        <p>As RouterFleet is an open source project, I warmly invite you to join the journey—whether it's through contributing code, providing feedback, or sharing your network management experiences. Every bit of support helps in building a robust community around RouterFleet. For more information, updates, and to get involved, please visit our <a href="https://github.com/eduardogsilva/routerfleet" target="_blank"><i class="fab fa-github"></i> GitHub page</a>.</p>

                        <p>Your support and involvement are what will shape the future of RouterFleet!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}