{% extends 'base.html' %}

{%  block content %}
    <div class='row'>
        <div class='col-lg-6'>
            <div class="card card-primary card-outline">

                <div class="card-header">
                    <h3 class="card-title">Welcome to RouterFleet!</h3>
                </div>

                <div class="card-body row">
                    <div class="col-lg-12">
                        <p>Hello! Welcome to RouterFleet, an open source project designed to simplify router backups. We currently support <strong>Mikrotik and OpenWRT</strong> devices, and we're excited to expand this list soon.</p>
                        <p>If you have a specific device you would like supported or suggestions for improvement, please visit our <a href="https://github.com/eduardogsilva/routerfleet" target="_blank"><i class="fab fa-github"></i> GitHub page</a> to share your thoughts. Your contributions help us enhance and evolve RouterFleet for all users.</p>
                        <p>Thank you for your support and involvement in making RouterFleet better for everyone!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}